/* Reset CSS styles and set the default font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Define the text selection style */
  ::selection {
    color: #000;
    background: #fff;
  }

  /* Navigation bar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  top: 0;
  z-index: 3;
  background-color:rgb(51, 49, 49);
}

  /* Style for the navigation */
nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  margin: 3px 3px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px; 
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

a.active,a:hover {
  color: white;
  transition: .5s;
  font-size: 20px;
}

a:hover {
  color:#eb4a00;
}

.checkbtn {
  font-size: 20px;
  color: white;
  float: left;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Logo link styling */
label.logo {
  text-decoration: none;
  color: #eb4a00;
  text-shadow: 3px;
  font-size: 25px;
  font-weight:700;
  padding: 10px 100px;
}


  /* styling the profile container */
.profile-container {
    max-width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: beige;
    border: 1px solid wheat;
    padding: 20px;
    box-shadow: 0px 0px 4px 0px black;
    margin-top: 120px;
    border-radius: 30px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ddd;
}


.profile-details {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(194, 185, 185);
}

.account-name {
  font-size: 30px;
}

.account-email {
  font-size: 15px;
}

/* Styling form signup form */
.UpdateAccountForm {
  color: white;
  font-weight: bold;
  border-radius: 70px;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px;
  margin-left: -30px;
  margin-top: 190px;
}

.UpdateAccountForm p {
  margin: 10px ;
}

.UpdateAccountForm p span {
  color: red;
  font-weight: lighter;
  font-size: 13px;
}

legend {
  color: #eb4a00; 
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 210px;
}

.my-class {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 120%;
  box-sizing: border-box;
  }

  #picture {
    color: #000;
    display: block;
    border: none;
  }
  
  label {
    color: #eb4a00;
    font-weight: lighter;
    font-size: small;
  }
  
  /* Styling login button */
  .my-submit {
    background-color: #eb4a00;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
  }

  .my-submit:hover {
    color: white;
    cursor: pointer;
  }

  /* Add responsive styles */
@media (max-width: 952px) {
  
  label.logo {
    font-size: 15px;
    padding-left: 10px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 30vh;
    background: rgb(51, 49, 49);
    top: 55px;
    left: 100%;
    text-align: center;
    transition: all .1s;
    border: 1px solid wheat;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 15px;
  }
  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 25px;
  }
  
  a:hover,a.active {
    background: none;
    color: #eb4a00;
    }
  
    a:hover {
      color: white;
    }
    
  #check:checked ~ ul {
    left: 0;
  }

  .profile-container {
    max-width: 600px;
    height: 750px;
    margin-top: 200px;
    border-radius: 30px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #ddd;
  }

  .account-name {
    font-size: 18px;
  }
  
  .account-email {
    font-size: 10px;
    margin-bottom: 10px;
  }

  legend {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .my-class {
    padding: 4px;
    margin-bottom: 8px;
    width: 140%;
    box-sizing: border-box;
    font-size: 12px;
    }

    .UpdateAccountForm p {
      margin: 5px ;
    }

    label {
      font-size: 10px;
    }

    .my-submit {
      padding: 2px;
      margin-bottom: 5px;
      border: none;
    }

    .UpdateAccountForm {
      top: 30%;
      left: 40%;
      padding: 10px;
      margin-left: 0;
      margin-top:  300px;
    }

    #picture {
      border: none;
    }

    .UpdateAccountForm p span {
      font-size: 9px;
    }
  
}