/* Reset CSS styles and set the default font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Define the text selection style */
::selection {
    color: #000;
    background: #fff;
}

/* Navigation bar styling */
nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 3;
    background-color: rgb(51, 49, 49);
    margin-bottom: 100px;
}

/* Logo link styling */
.logo {
    text-decoration: none;
    color: #eb4a00;
    text-shadow: 3px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 100px;
}

body {
    background-color: beige;
}

.task-detail {
    display: block;
    margin: auto;
    padding-top: 100px;
    max-width: 600px; /* Adjust the max-width to your preference */
    text-align: center;
    padding-left: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 0px black;
    background-color:rgb(245, 245, 213);
}

.task-title {
    font-size: 24px;
    text-align: center;
}

.created-date {
    font-size: 12px;
    margin-bottom: 50px;
    color: gray;
    text-align: center;
}

.detail-section {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.detail-heading {
    font-size: 18px;
}

.detail-text {
    font-size: 14px;
    padding-left: 20px;
}

/* Add responsive styles */
@media (max-width: 952px) {
    .logo {
        font-size: 15px;
        padding-left: 10px;
    }

    .detail-text {
        padding-left: 20px;
    }

    .created-date {
        text-align: center;
    }

    .task-detail {
        text-align: left;
        margin-left: 15px;
        border: none;
        box-shadow: none;
        background-color: beige;
    }
}
