{% extends "home.html" %}

{%  block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_task.css') }}">
{% endblock %}
{% block body %}
<nav>
  <a href="{{ url_for('tasks.dashboard') }}" class="logo">{{ current_user.username }}'s Task Manager</a>
</nav>
<div class="task-container">
    <div class="form-container">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <p>
            <legend>{{ legend }}</legend>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.description.label }}<br>
            {{ form.description|safe }}<br>
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.resources.label }}<br>
            {{ form.resources|safe }}<br>
            {% for error in form.resources.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.achievements.label }}<br>
            {{ form.achievements|safe }}<br>
            {% for error in form.achievements.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.challenges.label }}<br>
            {{ form.challenges|safe }}<br>
            {% for error in form.challenges.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
          <small>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        {{ ckeditor.config(name='resources') }}
        {{ ckeditor.config(name='achievements') }}
        {{ ckeditor.config(name='challenges') }}
    <div>
</div>
{% endblock %}