{% extends "home.html" %}

{%  block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="{{url_for('static', filename='javascript/dashboard.js')}}"></script>
<script src="{{url_for('static', filename='javascript/status.js')}}"></script>

{% endblock %}
{% block body %}
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i id="i-id" class="fa-solid fa-bars"></i>
    </label>
    <label class="logo">{{ current_user.username }}'s Task Manager</label>
    <ul>
      <li><a class="active" href="{{ url_for('account') }}">Account</a></li>
    </ul> 
</nav>
<div class="table">
  <div class="table_header">
    <div>
      <a class="add_new" href="{{ url_for('add_task') }}">+ Add Task</a>
   </div>
  </div>
  <div class="table_section">
      <table>
          <thead>
              <tr>
                  <th>Task Title</th>
                  <th>Date Created</th>
                  <th>Status</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            {% if user %}
                {% for task in user %}
                    <tr>
                        <td><a class="task" href="{{ url_for('task', task_id=task.id) }}">{{ task.title }}...</a></td>
                        <td>{{ task.created_date.strftime('%a %b %d %Y') }}</td>
                        <td>
                          <button class="toggleButton" onclick="toggleStatus(this)">Uncompleted</button>
                        </td>
                        <td>
                          <form class="form-display" action="{{ url_for('edit_task', task_id=task.id)}}">
                            <button class= "button-1" type="submit">
                              <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                          </form>
                          <form class="form-display" action="{{ url_for('delete_task', task_id=task.id)}}" method="POST">
                            <button class= "button-2" type="submit" onclick="if (!confirm('Are you sure you want to Delete?')) { return false }">
                              <i class="fa-solid fa-trash"></i>
                            </button>
                          </form>
                          
                      </td>
                    </tr>  
                {% endfor %}
            {% endif %}
          </tbody>
      </table>
  </div>
  <div class="pagination">
    <div id="scrollLeft" class="fa-solid fa-chevron-left"></div>
    <div>1</div>
    <div id="scrollRight" class="fa-solid fa-chevron-right"></div>
  </div>
</div>
{% endblock %}