{% extends "home.html" %}

{%  block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block body %}
<div class="logo">Myalxandi</div>
<div class="Bgimage">
    <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Background Image">
</div>
<div class="loginform">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        <legend>Login</legend>
        {{ form.email.label }}<br>
        {{ form.email }}<br>
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </p>
      <span class="flash-message">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}     
        {% endwith %}
      </span>
      <p>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </p>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit() }}</p>
      <small>
        Don't have an account?
        <a href="{{ url_for('signup') }}">Signup</a>
      </small>
    </form>
  </div>
</div>
{% endblock %}