{% extends "home.html" %}

{%  block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_request.css') }}">
{% endblock %}
{% block body %}
<div class="logo">
  <a href="{{ url_for('main.home') }}">Myalxandi</a>
</div>
<div class="Bgimage">
    <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Background Image">
</div>
<div class="resetform">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <p>
        <legend>Reset Password</legend>
        {{ form.email.label }}<br>
        {{ form.email }}<br>
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </p>
      <span class="flash-message">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}     
        {% endwith %}
      </span>
      <p>{{ form.submit() }}</p>
      <small>
        <a href="{{ url_for('users.login') }}">Go to Login</a>
      </small>
    </form>
  </div>
</div>
{% endblock %}