{% extends "home.html" %}

{%  block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
{% endblock %}
{% block body %}
<nav>
    <a href="{{ url_for('tasks.dashboard') }}" class="logo">{{ current_user.username }}'s Task Manager</a>
</nav>
<div class="task-detail">
    <h2 class="task-title">{{ task.title }}</h2>
    <p class="created-date">Created on {{ task.created_date.strftime('%a %b %d %Y') }}</p>

    <div class="detail-section">
        <h3 class="detail-heading">Description</h3>
        <p class="detail-text">{{ task.description|safe }}</p>
    </div>

    <div class="detail-section">
        <h3 class="detail-heading">Study Materials</h3>
        <p class="detail-text">{{ task.resources|safe }}</p>
    </div>

    <div class="detail-section">
        <h3 class="detail-heading">Challenges</h3>
        <p class="detail-text">{{ task.challenges|safe }}</p>
    </div>

    <div class="detail-section">
        <h3 class="detail-heading">Achievements</h3>
        <p class="detail-text">{{ task.achievements|safe }}</p>
    </div>
</div>
{% endblock %}
 